// MIXINS //

@mixin imgSize {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

@mixin inputStyle {
    width: 195px;
    height: 10px;
    background: transparent;
    border-color: transparent;
    -webkit-appearance: none;
}

@mixin barStyle {
    border-radius: 60px;
    border-style: solid;
    border-width: thin;
    width: 200px;
}


// CONTAINERS //

.customization {
    margin-top: 50px;
}

.customization__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.image__container {
    width: 300px;
    height: 300px;
    position: relative;
}

.custom-system__container {
    margin-top: 20px;
    display: table;
    text-align: center;
}


// IMAGES //

.image {
    @include imgSize;
    filter: saturate(1.25);
}

.black, .white {
    @include imgSize;
    opacity: 0;
}

// COLOR LAYERS //

// INPUTS //

#hue__input, #saturate__input, #luminosity__input {
    @include inputStyle;
}


// BARS //

.hue__bar {
    background-image: linear-gradient(to right, red, yellow, green, cyan, blue, magenta, red);
    @include barStyle;
}

.saturate__bar {
    background-image: linear-gradient(to right, gray, red);
    @include barStyle;
    fill: green;
}

.luminosity__bar {
    background-image: linear-gradient(to left, white, black);
    @include barStyle;
}

// TEXT //

.arrow {
    color: gray;
    cursor: pointer;
}