@font-face {
    font-family: "AdiHaus";
    src: url("../fonts/adihaus_regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "AdiHaus";
    src: url("../fonts/adihaus_italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "AdiHaus";
    src: url("../fonts/adihaus_oblique.ttf");
    font-style: oblique;
}

@font-face {
    font-family: "AdiHaus";
    src: url("../fonts/adihaus_bold.ttf");
    font-weight: bold;
    font-style: normal;
}
