footer {
  position: relative;
  margin-top: 60px;
  height: 250px;
  width: 100%;
  background-color: black;
}

.footer__container {
  display: block;
  position: relative;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  text-align: center;
}

.footer-logo {
  display: block;
  position: absolute;
  height: 30px;
  fill: white;
  left: 50%;
  transform: translateX(-50%);
}

.footer-links {
  margin-top: 125px;
  font-family: AdiHaus;
  
  a {
    text-decoration: none;
    color: gray;
  }
}

.copyright__text {
  margin-top: 15px;
  font-family: AdiHaus;
}

.social-icons__container {
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-top: 60px;
}

.social-icon {
  height: 40px;
  fill: white;

  &:hover {
    cursor: pointer;
    fill: gray;
  }
}