header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid black;
    top: 0;
    z-index: 999;
  }
  
  .header__logo {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    margin-left: 10px;
    cursor: pointer;
    fill: black;
    
    a:hover & {
        fill: gray;
    }

    @media (max-width: 760px) {
      margin-left: 0px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  .header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;

    @media (max-width: 760px) {
      visibility: hidden;
    }
  }
  
  .header__sepline {
    width: 26px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(90deg);
  }
  
  .header__link {
    font-family: AdiHaus;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    
    &:hover {
      color: gray;
    }
  }
  
  .login-icon, .cart-icon {
    height: 28px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 18px;
    fill: black;
    cursor: pointer;
  
    &:hover {
        fill: gray;
    }
  }
  
  .login-icon {
    margin-right: 60px;
  }

  .burger-menu {
    width: 24px;
    height: 28px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 14px;
    cursor: pointer;

    @media (min-width: 760px) {
      visibility: hidden;
    }

    &:hover span {
        background-color: gray;

        &::before, &::after {
            background-color: gray;
        }
    }

    & span {
        width: 100%;
        height: 2px;
        background-color: black;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &::before, &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            transition: transform 0.3s ease-in-out;

            span:hover & {
                background-color: gray;
            }
        }

        &::before {
            transform: translateY(-8px);
        }

        &::after {
            transform: translateY(8px);
        }
    }

    &.isOpen span {
        background-color: transparent;

        &::before {
            transform: translateY(0px) rotate(45deg);
        }

        &::after {
            transform: translateY(0px) rotate(-45deg);
        }
    }
}

.menu {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;                                                                                                                                                                                                                                                                                                                                                                                              

  &.isOpen {
      transform: translateX(0vw);
  }

  li {
      list-style: none;
      background-color: white;
      width: 100%;
      a {
          height: calc((100vh - 50px) / 3);
          line-height: calc((100vh - 50px) / 3);
          //padding: 0 20px;
          color: black;
          text-decoration: none;
          display: block;
          border-bottom: 1px solid black;
          font-size: 24px;
          font-family: AdiHaus;
          font-style: normal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
              background-color: lightgray;
          }
      }
  }
}