// PRESENTATION //

.product__section {
  width: auto;
  height: calc(100% - 48px);
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dude {
  position: absolute;
  right: calc(20% - 10vh);
  bottom: 0;
  height: 80%;
  filter: saturate(80%);
}

.product {
  position: absolute;
  right: calc(20% - 10vh);
  bottom: 0;
  height: 80%;

  &.loaded {
      animation: colorChange 0s steps(4, end) 0s infinite;
  }
}

@keyframes colorChange {
  25% {
      filter: hue-rotate(90deg); 
  };
  50% {
      filter: hue-rotate(180deg);
  }
  75% {
      filter: hue-rotate(270deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}

.kobb-vest {
  position: absolute;
  width: calc(25vw + 20vh);
  left: 5vw;
  bottom: 75%;
}

.slogan {
  position: absolute;
  padding: 15px 20px;
  width: 40vw;
  height: fit-content;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5vw;
  color: white;
  background-color: #000000;
  left: 5%;
  top: 30%;
  text-justify: distribute;
}

.buttons__container {
  display: flex;
  position: absolute;
  bottom: 7.5%;
  left: 5%;

  @media (max-width: 666px) and (min-height: 404px) {
    display: block;
    top: 65%;
    left: 10vw;
  }
}

.button {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: calc(2vw + 1vh);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 12px 20px;
  text-decoration: none;
  border: none;
  text-align: center;

  &.customize {
    background-color: yellowgreen;
    color: white;

    @media (max-width: 666px) and (min-height: 404px) {
      margin-top: 3vh;
    }
  }

  &.learn-more {
    background-color: white;
    color: black;
    margin-left: 20px;

    @media (max-width: 666px) and (min-height: 404px) {
      margin-left: 0px;
      margin-top: 2vh;
    }
  }
}

// MODELS //

.models__title {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5vw;
  line-height: 76px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  margin-top: 5px;
  transform: translateY(15px);
}

.models {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &>* {
    flex: 1 1 160px;
    margin: 10px;
  }

  @media (max-width: 800px) {
    display: block;
    text-align: center;

    &>* {
      display: inline-block;
    }
  }

}

.model__container {
  width: 300px;
  height: 300px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.image__container {
  position: relative;
  height: 250px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.product__image {
  position: absolute;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description__container {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: black;
}

.text__container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.product__title {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.product__description {
  font-family: AdiHaus;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;
  left: 10px;
  text-align: left;
}

.buy__button__container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.buy__button {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background: yellowgreen;
  border-radius: 8px;
  padding: 8px 20px;
  border: none;
}

// SEE MORE BUTTON //

.see-more__button__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  margin-top: 8px;
}

.see-more__button {
  width: 100%;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 65px;
  text-decoration: none;
  margin: 0 auto 0 auto;
  padding: 10px 16px;
  color: #000000;
  background-color: lightgray;
}

// VALUES //

.values {
  display: block;
  position: relative;
  width: 100%;
  height: 75%;
  margin-top: 70px;
  overflow: hidden;
}

.values__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.values__text {
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  width: 50%;
  position: absolute;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  color: white;
}

// .collaborateur {
//   padding: 120px 0 0 0;
//   display: flex;
//   justify-content: space-between;
// }

// .fournisseurs {
//   height: 454px;
//   width: 49.8%;
//   border: 1px solid #000000;
//   box-sizing: border-box;
// }

// .fournisseurs__title {
//   margin: 0;
//   font-family: AdiHaus;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 40px;
//   line-height: 50px;
//   text-transform: uppercase;
//   padding: 20px 0 0 20px;
//   color: #000000;
// }

// .fournisseurs__image {
//   height: 137px;
//   width: 525px;
//   padding: 70px 0 0 170px;
// }

// .position {
//   padding: 90px 0 0 300px;
// }

// .fournisseurs__link {
//   padding: 18px 36px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 8px;
//   font-family: AdiHaus;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 30px;
//   line-height: 37px;
//   text-align: center;
//   text-decoration: none;
//   color: #ffffff;
//   background-color: black;
// }

// .labels {
//   height: 454px;
//   width: 50%;
//   background-color: black;
// }

// .labels__title {
//   margin: 0;
//   font-family: AdiHaus;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 40px;
//   line-height: 50px;
//   text-transform: uppercase;
//   text-align: right;
//   padding: 20px 20px 0 0;
//   color: #ffffff;
// }

// .labels__image {
//   height: 137px;
//   width: 525px;
//   display: flex;
//   justify-content: space-between;
//   padding: 60px 0 0 80px;
// }

// .labels__link {
//   padding: 18px 36px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 8px;
//   font-family: AdiHaus;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 30px;
//   line-height: 37px;
//   text-align: center;
//   text-decoration: none;
//   color: black;
//   background-color: #ffffff;
// }