.product__section {
  width: auto;
  height: calc(100% - 48px);
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dude {
  position: absolute;
  right: calc(20% - 10vh);
  bottom: 0;
  height: 80%;
}

.product {
  position: absolute;
  right: calc(20% - 10vh);
  bottom: 0;
  height: 80%;

  &.loaded {
      animation: colorChange 8s ease 0s infinite;
  }
}

@keyframes colorChange {
  17% {
      filter: hue-rotate(120deg); 
  };
  33% {
      filter: hue-rotate(120deg);
  }
  50% {
      filter: hue-rotate(240deg);
  }
  67% {
      filter: hue-rotate(240deg);
  }
  83% {
      filter: hue-rotate(360deg);
  }
  100% {
      filter: hue-rotate(360deg);
  }
}

.kobb-vest {
  position: absolute;
  width: 35%;
  left: 5vw;
  top: 15%;
}

.slogan {
  position: absolute;
  padding: 15px 20px;
  width: 40%;
  height: fit-content;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5vw;
  color: #ffffff;
  background-color: black;
  left: 5vw;
  top: calc(5vw + 25%);
  flex-wrap: wrap;
}

.link {
  padding: 95px 0 0 71px;
}

.presentation__buttons {
  position: absolute;
  top: calc(5vw + 60%);
  left: 5vw;
  display: flex;
  flex-wrap: wrap;
  width: 585px;

  @media (max-width: 760px) {
    top: 55%;
    display: block;
  }
}

.button {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  background: #ffffff;
  font-size: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 12px 20px;
  text-decoration: none;
  color: #000000;
  border: none;
  text-align: center;
}

.customize__button {
  color: #ffffff;
  background-color: #02b2fe;
}

.learn-more__button {
  margin-left: 3vw;

  @media (max-width: 760px) {
    margin-left: 0;
    margin-top: 20px;
  }  
}

.presentation__eco {
  margin: 45px 0 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;

  width: 437px;
  height: 62px;
}

.eco__text {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.modeles {
  width: 100vw;
  height: 685px;
  display: flex;
  flex-direction: column;
}

.modeles__title {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 76px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

.shop__produit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.produit {
  height: 417px;
  width: 390px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.produit__image {
  height: 321px;
  width: 390px;
  background-color: #c4c4c4;
}

.produit__text {
  height: 96px;
  width: 390px;
  background-color: #c4c4c4;
}

.produit__title {
  padding: 10px 0 0 10px;
  margin: 0;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.produit__description {
  padding: 0 0 0 10px;
  margin: 0;
  font-family: AdiHaus;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.adroite {
  text-align: right;
  padding: 0 10px 0 0;
}

.milieu {
  text-align: center;
  padding: 50px 0;
}

.produit__link {
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
  background: #02b2fe;
  border-radius: 17px;
  padding: 15px 41px;
}

.modeles__more {
  width: 467px;
  height: 78px;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 48px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 65px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 0 auto;
  padding: 19px 50px;
  color: #000000;
}

.valeur {
  height: 741px;
  width: 100vw;
  background-image: url(../img/background_lyocell.png);
  background-size: cover;
}

.valeur__text {
  padding: 192px 0 0 84px;
  width: 569px;
  height: 302px;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #ffffff;
}

.collaborateur {
  padding: 120px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.fournisseurs {
  height: 454px;
  width: 49.8%;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.fournisseurs__title {
  margin: 0;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  padding: 20px 0 0 20px;
  color: #000000;
}

.fournisseurs__image {
  height: 137px;
  width: 525px;
  padding: 70px 0 0 170px;
}

.position {
  padding: 90px 0 0 300px;
}

.fournisseurs__link {
  padding: 18px 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: black;
}

.labels {
  height: 454px;
  width: 49.8%;
  background-color: black;
}

.labels__title {
  margin: 0;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  text-align: right;
  padding: 20px 20px 0 0;
  color: #ffffff;
}

.labels__image {
  height: 137px;
  width: 525px;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 0 80px;
}

.labels__link {
  padding: 18px 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-family: AdiHaus;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: #ffffff;
}
