.product__section {
    width: auto;
    height: calc(100% - 48px);
    position: relative;
    background-color: red;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.product-background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dude {
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: 80%;
}

.product {
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: 80%;

    animation: 10s linear 0s infinite alternate move_eye;
}

@keyframes move_eye { 
    from { 
        filter: hue-rotate(0deg); 
    }
    to {
        filter: hue-rotate(360deg); 
    }
}

body {
    height: 100%;
}

html {
    height: 100%;
}