.product__section {
    width: auto;
    height: calc(100% - 48px);
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dude {
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: 80%;
}

.product {
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: 80%;

    &.loaded {
        animation: colorChange 8s ease 0s infinite;
    }
}

@keyframes colorChange {
    17% {
        filter: hue-rotate(120deg); 
    };
    33% {
        filter: hue-rotate(120deg);
    }
    50% {
        filter: hue-rotate(240deg);
    }
    67% {
        filter: hue-rotate(240deg);
    }
    83% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

body {
    height: 100%;
}

html {
    height: 100%;
}