.product__section {
    width: auto;
    height: calc(100% - 48px);
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dude {
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: 80%;
}

.product {
    position: absolute;
    right: 10vw;
    bottom: 0;
    height: 80%;

    animation: 10.8s linear 0s infinite alternate color_change;
}

@keyframes color_change { 
    from { 
        filter: hue-rotate(0deg); 
    }
    to {
        filter: hue-rotate(360deg); 
    }
}

body {
    height: 100%;
}

html {
    height: 100%;
}